
:root{
    --cor1: #B30000;
    --cor2: #FAD79E;
}

* {
    margin: 0;
    padding: 0;
}

/* Header */
.bg-dark{
    background-color: white !important;
}

.navbar-toggler{
    background-color: var(--cor1) !important;
}

.logo{
    height: 48px;
    padding: 2px 10px;
}

.nav_top{
    font-size: 0.98em;
    color: black !important;
}

.nav_top:hover{
    color: var(--cor1) !important;
}

.nav_top::after{
    content: " |";
}

.input_header{
    height: 30px;
    border-radius: 15px;
    padding: 10px;
    margin: 3px 3px 0 0;
}

.btn_header{
    border-radius: 15px;
    box-shadow: none;
    background-color: white;
    color: black;
    padding: 5px;
}

.btn_header:hover{
    background-color: var(--cor2);
}

.btn_header:active{
    background-color: white;
    color: black;
}

/* Lançamentos */

.titulo_branco{
    text-align: center;
    color: white;
    margin: 10px;
}

.lancamentos{
    background-color: var(--cor1);
    padding: 20px;
}

.sinopse, .sobre{
    color: white;
    text-align: justify;
}

.nota1::after{
    color: var(--cor2);
    content:" ★★☆☆☆";
}

.nota2::after{
    color: var(--cor2);
    content:" ★★★★☆";
}

.nota3::after{
    color: var(--cor2);
    content:" ★★★☆☆";
}

/* Em destaque */ 

.titulo_vermelho{
    text-align: center;
    margin: 10px;
    color: var(--cor1);
}

.btn-secondary{
    margin: 15px;
}

.card-text{
    text-align: center;
    color: var(--cor1);
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.nota4::before{
    content:"★★★☆☆";
    color: var(--cor2);
}

.nota5::before{
    content:"★★★★★";
    color: var(--cor2);
}

.nota6::before{
    content:"★★★★☆";
    color: var(--cor2);
}

@media screen and (max-width:1000px) {
    .card-img-top{
        height: 350px;
        width: 300px;
        margin: 0 auto;
    }
    .card-text{
        margin-left: auto;
    }
}

/* Entrevistas e Makingof */

.entrevistas{
    margin-top: 10px;
    background-color: var(--cor1);
    color: white;
    padding: 10px;
}

.btn_entrevista{
    text-align: right;
}

.tag{
    background-color: var(--cor2);
    border-radius: 15px;
    padding: 5px;
}

.tag:hover{
    background-color: rgb(245, 245, 155);
}

@media screen and (max-width:1099px) {
    .entmak{
        height: 250px;
        width: 350px;
    }
}

@media screen and (min-width:1100px) {
    .entmak{
        height: 256px;
        
    }
}

/* Noticias */

.noticias{
    width: 100%;
    height: 100%;
}

/* Redes Sociais */

.sub_titulo{
    color: var(--cor1);
}

.social{
    width: 25px;
    height: 25px;
    margin: 20px;
}

/* Footer */

.footer{
    background-color: var(--cor1);
    padding: 15px;
    margin-top: 10px;
}

.p_footer{
    color: white;
    text-align: center;
}

.logo_footer{
    height: 48px;
    width: 48px;
}